body{
    background-color:#F5F5F5;
   
}

.img_topo{
    width: 100%;
}


.img_corpo{
    width: 45%;
}
figure{
    text-align:center;
}

.container{
    width: 80%;
    margin: auto;
}

h1{
    text-align: center;
    color: 	#000000;
}
p{
    font-size: 1.3rem;
    color: #000000;
    text-align: justify;
    text-indent: 40px;
}

.divtipos{
    width: 100px;
    height: 50px;
    background-color: darkgray;
    margin: auto;
}
.botaotipos{
    padding-top: 15px;
    text-align: center;
}