body{
    background-color:#F5F5F5;
    font-family: Arial;
}

.img_topo{
    width: 100%;
}


.img_corpo{
    width: 45%;
    margin: 2%;
    margin-bottom: 2%;
}
figure{
    text-align:center;
}

.container{
    width: 80%;
    margin: auto;
}

.container2{
    width: 80%;
    margin: auto;
}

h1{
    text-align: center;
    color: 	#000000;
    margin-bottom: 1%;
    font-size: 25px;
}
p{
    font-size: 1.3rem;
    color: #000000;
    text-align: center;
    /* text-indent: 100px; */
}

.botao{
    padding-top: 15px;;
    font-size: 2rem;
}

.botao_tipos{
    width: 100px;
    height: 40px;
    padding-top: 15px;
    background-color: rgb(169, 169, 169);
    margin: auto;
    margin-top: 30%;
}

.desenvolvedor{
    font-size: 1.3rem;
    color: #000000;
    text-align: left;


}

html{
    scroll-behavior:smooth;
}


.menu{
    background-color: aliceblue;

}

.logo{
    padding-top: 1%;
    padding-bottom: 1%;
}


.itens_menu, footer{
    line-height: 1.5;
    text-align: center;
    background-color: rgba(169, 169, 169, 0.2);
}

.itens_menu a{
    background-color: #3936f4;
    color: rgb(255, 255, 255);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 2%;
    margin-bottom: 2%;
}

.itens_menu a{
    a:hover
} 
.itens_menu a{
    a:active
} 
.itens_menu a{
    background-color: blue;
} 

section {
    margin-top: 1%;
}

.direita {
    float: right;
    width: 45%;
    margin-left: 15%;
    
}

.a{
    margin-bottom: 3%;
}

.b{
    margin-bottom: 3%;    
}

.c{
    margin-bottom: 3%;    
}